body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evitar scroll horizontal */
  background-color: #1a1a1a;
}

.App {
  display: flex;
  flex-direction: column; /* Cambiado a column para asegurar alineación vertical correcta */
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 15px 15px ;
  overflow-x: hidden; /* Evitar scroll horizontal dentro del main */
}

footer {
  background-color: #000000;
  color: #801c1c;
  padding: 10px 0;
  text-align: center;
}
