/* Footer.module.css */
.footer {
  background-color: transparent;
  color: rgba(179, 64, 224, 0.767);
  padding: 10px 0;
  position: bottom;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
