.header {
  background-color: #000000; /* Cambia el color de fondo según tus preferencias */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  padding: 10px 20px;
}

.logo img {
  max-width: 100px; /* Ajusta el tamaño máximo del logo según sea necesario */
}

.nav {
  display: flex; /* Utiliza flex para alinear los elementos horizontalmente */
  
}

.navList {
  display: flex; /* Alinea los elementos de la lista en línea */
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
}

.navLink {
  color: rgba(179, 64, 224, 0.767); /* Color del texto de los enlaces */
  text-decoration: none; /* Quita la subraya de los enlaces */
   /* Añade espacio entre los enlaces */
  margin-right: 10px;
}

.navLink:first-child {
  margin-left: 0; /* Elimina el margen izquierdo del primer enlace */
}
