.productList {
  padding: 16px;
  background-color: #333;
  color: white;
}

.categoryTitle {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.productListGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.productListItem {
  flex: 1 1 calc(33.333% - 32px);
  margin-bottom: 16px;
}
